* {
	margin-left: 15px;
}
body {
	padding-top: 15px;
	font-size: 20px;
}

h1 {
	font-size:30px;
	color: #1D39DF;
}

h2 {
	font-size: 20px;
	color: #1D39DF;
	margin-bottom: 5px;
}

p {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 50px;
}

li::marker {
	color: #1D39DF;
}
