<link href="/stylesheet/style.css" rel="stylesheet" type="text/css">
<h1>Pedidos da pizzaria do <%= nomeDoUsuario %>.</h1>

<ul>
  <% pedidos.map((pedido) => { %>
    <li>Pedido do <%= pedido.cliente.nome %> <%= pedido.cliente.sobrenome %>.</li>
    
  <% }) %>
</ul>
